---
import { Image, getImage } from 'astro:assets';
// Components
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ContactForm from '../components/ContactForm.jsx';
// Icons
import iconPerson from '../assets/icon-person.svg';
import iconCog from '../assets/icon-cog.svg';
import iconChart from '../assets/icon-chart.svg';
// Bg
import firstBgImg from '../assets/bg-pattern-contact-2.svg';

const contactBottomBgImg = await getImage({ src: firstBgImg });
---

<Layout title="Contact">
	<main class="container">
    <Header links={[{label: 'home', url: '/'}, {label: 'about', url: '/about'}, {label: 'contact us', url: '/contact'}]} />
    
    <section class="contact" style={`background-image: url(${contactBottomBgImg.src})`}>
      <h2 class="contact__heading">Contact</h2>

      <h3 class="contact__subheading">Ask us about</h3>

      <ol class="contact__featured">
        <li class="featured__item">
          <Image class="item__icon" src={iconPerson} alt="contact featured person icon" loading="eager" />

          <p class="item__text">The quality of our talent network</p>
        </li>
        <li class="featured__item">
          <Image class="item__icon" src={iconCog} alt="contact featured cog icon" loading="eager" />

          <p class="item__text">Usage & implementation of our software</p>
        </li>
        <li class="featured__item">
          <Image class="item__icon" src={iconChart} alt="contact featured chart icon" loading="eager" />

          <p class="item__text">How we help drive innovation</p>
        </li>
      </ol>

      <ContactForm client:visible />
    </section>
      
    <Footer links={[{label: 'home', url: '/'}, {label: 'about', url: '/about'}]} />
	</main>
</Layout>

<style>
  .contact {
    background-repeat: no-repeat;
    background-position: bottom -15% right -60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
    padding: 40px 25px;
  }
  .contact__heading, .contact__subheading {
    font-weight: 700;
  }
  .contact__heading {
    font-size: 2.5rem;
  }
  .contact__subheading {
    font-size: 2rem;
    color: var(--light-coral);
    margin: 15px 0;
  }
  .contact__featured {
    margin: 15px 0;
  }
  .featured__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 0;
  }
  .item__icon {
    width: 72px;
    height: 72px;
  }
  .item__text {
    text-align: left;
    font-size: 1.125rem;
    line-height: 28px;
    font-weight: 700;
    padding-left: 15px;
  }
  .featured__item:first-child > .item__text { /* TODO: temp fix, also should not be necessary */
    padding-left: 20px;
  }
</style>
