---
import { Image, getImage } from 'astro:assets';
// Components
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ContactForm from '../components/ContactForm.jsx';
// Icons
import iconPerson from '../assets/icon-person.svg';
import iconCog from '../assets/icon-cog.svg';
import iconChart from '../assets/icon-chart.svg';

---

<Layout title="Contact">
  <main class="container">
    <Header links={[{label: 'home', url: ''}, {label: 'about', url: 'about'}, {label: 'contact us', url: 'contact'}]} />

    <section class="contact">
      <div class="contact__header">
        <h2 class="contact__heading">Contact</h2>

        <h3 class="contact__subheading">Ask us about</h3>

        <ol class="contact__featured">
          <li class="featured__item">
            <div class="item__iconcontainer">
              <Image class="item__icon" src={iconPerson} alt="contact featured person icon" loading="eager" />
            </div>

            <p class="item__text">The quality of our talent network</p>
          </li>
          <li class="featured__item">
            <div class="item__iconcontainer">
              <Image class="item__icon" src={iconCog} alt="contact featured cog icon" loading="eager" />
            </div>

            <p class="item__text">Usage & implementation of our software</p>
          </li>
          <li class="featured__item">
            <div class="item__iconcontainer">
              <Image class="item__icon" src={iconChart} alt="contact featured chart icon" loading="eager" />
            </div>

            <p class="item__text">How we help drive innovation</p>
          </li>
        </ol>
      </div>

      <div class="contact__formcontainer">
        <ContactForm client:visible />
      </div>
    </section>

    <Footer links={[{label: 'home', url: ''}, {label: 'about', url: 'about'}]} />
  </main>
</Layout>

<style>
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: var(--white);
    background-image: url('../assets/bg-pattern-contact-2.svg');
    background-position: bottom -100px right -100px;
    background-repeat: no-repeat;
    padding: 40px 25px 60px;
    flex: 1;
  }
  
  .contact__heading, .contact__subheading {
    font-weight: 700;
  }
  
  .contact__heading {
    font-size: 2.5rem;
  }
  
  .contact__subheading {
    font-size: 2rem;
    color: var(--light-coral);
    margin: 15px 0;
  }
  
  .contact__featured {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin: 25px 0;
  }
  
  .featured__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
  }
  
  .item__iconcontainer {
    width: 85px;
  }
  
  .item__icon {
    width: auto;
    height: auto;
  }
  
  .item__text {
    text-align: left;
    font-size: 1.125rem;
    line-height: 28px;
    font-weight: 700;
    padding: 0 15px;
  }
  
  .contact__formcontainer {
    width: 100%;
  }
  
  @media (--md-viewport) {
    .contact {
      background-image: url('../assets/bg-pattern-contact-2.svg'), url('../assets/bg-pattern-about-2-contact-1.svg');
      background-position: bottom right -100px, top 25px left -100px;
      background-repeat: no-repeat, no-repeat;
      padding: 40px 125px 60px;
    }
    
    .contact__featured {
      align-items: flex-start;
    }
    
    .contact__heading {
      font-size: 4rem;
    }
  }
  
  @media (--xl-viewport) {
    .contact {
      background-position: bottom right -100px, top 50px left -100px;
      background-size: 180px;
      flex-direction: row;
      text-align: left;
      padding: 40px 100px 60px;
    }
    
    .contact__header, .contact__formcontainer {
      width: 50%;
    }
    
    .contact__subheading {
      margin: 30px 0;
    }
    
    .item__text {
      padding: 0 5px;
    }
  }
  
  @media (--2xl-viewport) {
    .contact {
      padding: 40px 150px 60px;
    }
  }
</style>
