.button {
  border: none;
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--dark-green);
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
}

.button__primary--light {
  border: 2px solid var(--white);
  color: var(--white);
  background-color: transparent;
}

.button__primary--light:hover {
  background-color: var(--white);
  color: var(--dark-green);
}

.button__primary--dark {
  border: 2px solid var(--sacramento-state-green);
  color: var(--sacramento-state-green);
  background-color: transparent;
}

.button__primary--dark:hover {
  border: 2px solid transparent;
  background-color: var(--sacramento-state-green);
  color: var(--white);
}

.button__secondary {
  background-color: var(--white);
}

.button__secondary:hover {
  background-color: var(--rapture-blue);
}
