.card__grid {
  width: 100%;
  margin: 25px 0;
  display: grid;
}
@media (--md-viewport) {
  .card__grid {
    padding: 0 90px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    justify-items: center;
  }
}
@media (--lg-viewport) {
  .card__grid {
    padding: 0 225px;
  }
}
@media (--xl-viewport) {
  .card__grid {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 130px;
  }
}
@media (--2xl-viewport) {
  .card__grid {
    padding: 0 170px;
  }
}
