.contact__form {
  width: auto;
  padding: 10px 0;
  margin-bottom: 20px;
}
.form__group {
  display: flex;
}
.group__label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.group__textinput, .group__textarea {
  border: none;
  background: none; 
  border-bottom: 1px solid var(--white);
  color: var(--white);
  margin: 5px 0;
  padding: 20px 10px;
  width: 100%;
}
.group__textinput:focus, .group__textarea:focus {
  outline: none;
}
.group__textinput::placeholder, .group__textarea::placeholder {
  color: var(--white);
  font-size: 1rem;
  font-weight: 600;
}
.group__textinput--valid, .group__textarea--valid {
  border-bottom: 1px solid var(--rapture-blue);
}
.group__textinput {}
.group__textinput--error {
  border-bottom: var(--light-coral);
}
.group__textarea {
  padding: 40px 10px;
  margin-bottom: 15px;
}
.form__submit {
  display: flex;
  align-self: flex-start;
  border: none;
  background-color: var(--white);
  color: var(--deep-jungle-green);
  font-size: 1.125rem;
  font-weight: 600;
  border-radius: 50px;
  padding: 15px 30px;
  margin: 10px 0 15px;
  cursor: pointer;
}
