---
import { Image } from 'astro:assets';

import { LinkButton } from './Button';

import logo from '../assets/logo.svg';
import Navbar from './Navbar.astro';

const { links } = Astro.props;
const baseURL = import.meta.env.BASE_URL;

---
<header class="header">
  <a href={baseURL}><Image class="header__logo" src={logo} alt="myteam - Homepage" loading="eager" /></a>

  <Navbar links={links} />
</header>
<style>
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 35px;
    z-index: 1;
  }
  
  .header__logo {
    width: 128px;
    height: 32px;
  }
  
  @media (--md-viewport) {
    .header {
      padding: 20px 40px;
    }
  }
  
  @media (--lg-viewport) {
    .header {
      padding: 20px 150px;
    }
  }
  
  @media (--xl-viewport) {
    .header {
      padding: 20px 125px;
    }
    
    .header__logo {
      width: 160px;
      height: 40px;
    }
  }

  @media (--2xl-viewport) {
    .header {
      padding: 20px 150px;
    }
  }
</style>
