---
import '@fontsource/livvic/400.css';
import '@fontsource/livvic/500-italic.css';
import '@fontsource/livvic/600.css';
import '@fontsource/livvic/700.css';

import 'modern-normalize/modern-normalize.css';

const { title } = Astro.props;

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <meta name="generator" content={Astro.generator} />
    <title>Frontend Mentor | myteam website challenge - {title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    /* Primary and secondary colors */
    --midnight-green: #014E56;
    --light-coral: #F67E7E;
    --white: #FFF;
    --rapture-blue: #79C8C7;
    --police-blue: #2C6269;
    --deep-jungle-green: #004047;
    --sacramento-state-green: #012F34;
    --dark-green: #002529;
  }

  html {
    font-family: Livvic, sans-serif;
    background-color: var(--midnight-green);
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  ul, ol {
    list-style-type: none;
  }
  
  h1, h2, h3, p, blockquote, ul, ol {
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    min-width: 20rem;
    min-height: 100vh;
    z-index: auto;
    position: relative;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
</style>
